click==8.3.1
colorama==0.4.6
fastapi==0.129.0
h11==0.16.0
idna==3.11
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.41.0
executorch==0.3.0
wagtail==4.1.1
jupyter-core==4.9.2
moin==1.2.3
swift==1.0.2
poetry==1.1.0a1
parso==0.4.0
vyper==0.2.7
psd-tools==1.9.3